html{
    height: 100%;
}
body{
    background-color: aliceblue;
    height: calc(100% - 50px);;
    padding: 20px;
    overflow: hidden;  
}
.notif{
    background-color: #8f9fffa9;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: solid #384bfc 1px;
    max-width: 700px;
    height: 20px;
    margin: auto auto 30px auto;
    padding: 5px;
    transition: all .4s;
}
.des{
    transition: all .4s;
    opacity: 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}
.connect{
    position: absolute;
    z-index: 10;
    background-color: #353535;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.connect h1{
    text-align: center;
    font-size: 2.5vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px auto 2vw auto;
}
.connect #choosePseudo{
    text-align: center;
    padding: 0.5vw;
    border-radius: 10px;
    border: solid black 1px;
    font-size: 2vw;
}
.connect .playBtn{
    width: 100%;
    margin-top: 1vw;
    text-align: center;
}
.connect #playBtn{
    cursor: pointer;
    font-size: 2vw;
    border: solid 1px #000000;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    background-color: #ffffff;
    transition: all .4s;
}
.connect #playBtn:hover{
    background-color: #aaaaaa;
}
.game{
    background-color:#353535;
    border-radius: 10px;
    padding: 10px;
    width: 40vw;
    min-width: 300px;
    height: 40vw;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 2%);
    grid-template-rows: repeat(auto-fill, 2%);
}
.game.noPlay{
    opacity: 0.2;
}
.game .case{
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 1px black;
}
.game .case::after{
    position: absolute;
    text-align: center;
    content: attr(pseudo-value);
    color: #292929;
    font-size: 1.4vw;
    transform: translateX(-50%);
    text-shadow: -0.1vw 0.1vw 0 #ffffff,
                          0.1vw 0.1vw 0 #ffffff,
                          0.1vw -0.1vw 0 #ffffff,
                        -0.1vw -0.1vw 0 #ffffff;
}
.blue{
    background-color: blue !important;
}
.red{
    background-color: red !important;
}
.yellow{
    background-color: yellow !important;
}
.green{
    background-color: green !important;
}
.cyan{
    background-color: cyan !important;
}
.orange{
    background-color: orange !important;
}
.pink{
    background-color: pink !important;
}
.purple{
    background-color: purple !important;
}
